p{
    text-align: center;
    color: red;
    line-height: 30px;
}
h1{
    text-align: center;
    font-family: georgia;
}
h3{
    text-align: center;
    color: #000000;
}
a{
    /* color: green; */
    color: rgb(0,255,0);
    text-decoration: none;
}
button{
    color: blueviolet;
    background-color: white;
}

/* hex code for black is : #000000 */

textarea{
    color: #000000;
}
span{
    text-decoration:  black underline;
}

